script(src='/socket.io/socket.io.js')
script(src='js/calchat.js')

script(src='/js/libs/bootstrap/dropdown.js')
script(src='/js/libs/bootstrap/transition.js')
script(src='/js/libs/bootstrap/collapse.js')
script(src='/js/libs/bootstrap/typeahead.js')