//if lt IE 7]
  | <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  | <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  | <html class="no-js lt-ie9" lang="en">
//if gt IE 8
  | <html class="no-js" lang="en>

title= title
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='')

meta(property='og:title', content='CalChat')
meta(property='og:description', content='CalChat is a location-based chat app that aims to connect students with other students and faculty who are in the same building and class by providing chatrooms for them to meet in.')
//meta(property='og:image', content='img/logo.png')

link(rel='stylesheet', href='css/bootstrap.css') 
link(rel='stylesheet', href='css/bootstrap-responsive.css').

script(src='js/libs/jquery-1.7.1.min.js')
script(src='js/libs/modernizr-2.5.3-respond-1.1.0.min.js)

link(rel="shortcut icon", href="img/ico/favicon.ico")
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="img/ico/apple-touch-icon-114-precomposed.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="img/ico/apple-touch-icon-72-precomposed.png")
link(rel="apple-touch-icon-precomposed", href="img/ico/apple-touch-icon-57-precomposed.png")

