div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/')
        img(src='/img/logo-navbar.png', width='59px', height='29px').brand
      div.nav-collapse
        ul.nav
          if index == 0
            li.active
              a(href='/') Home
          else 
            li
              a(href='/') Home
          if loggedIn
            if index == 1
              li.active
                a(href='/dashboard') Dashboard
            else 
              li
                a(href='/dashboard') Dashboard
            if index == 2
              li.active
                a(href='/chat') Chat
            else 
              li
                a(href='/chat') Chat
          else 
            if showChatTab
              if index == 2
                li.active
                  a(href='/chat') Chat
              else 
                li
                  a(href='/chat') Chat
          li.divider-vertical
          form.navbar-search.pull-left.join-chatrooms
            input(type='text', placeholder='Join Chatroom', data-provide='typeahead').search-query
            div.icon-search
        ul.nav.pull-right
          if index == 3
            li.active
              a(href='/features') Features
          else 
            li
              a(href='/features') Features
          if index == 4
            li.active
              a(href='/about') About           
          else
            li
              a(href='/about') About
              
          if loggedIn
            li.divider-vertical
            li.dropdown
              a(href='#', data-toggle='dropdown', style='padding:5px').dropdown-toggle
                img(src='http://graph.facebook.com/'+user.id+'/picture?type=square', height='30', width='30').avatar 
                #{user.firstname+' '+user.lastname}
                b(style='margin-top:12px').caret
              ul.dropdown-menu
                li
                  a(href='/preferences') Preferences
                li.divider
                li
                  a(href='/logout') Logout
            li.divider-vertical
