include includes/navbar

div.container-fluid
  #about.row-fluid
    h1 About
    hr
    p
      | CalChat started when Jesse, Nelson, and Jon signed up for the
      a(href='http://stc.berkeley.edu/competitions.htm#hackathon', target='_blank') Code4Cal Hackathon 
      | back in early 2012. Our goal at the time was just to learn some web dev (NodeJS!), have fun, and maybe build something cool. The idea for CalChat itself stemmed from a desire to help students in the same classes and departments connect better, and to foster a real campus community online by building a product that was tailored to Cal. After placing 3rd at the hackathon, but being dissatisfied with what was decidedly a proof-of-concept MVP, we decided to bring Mark onto the team and enter the 
      a(href='http://stc.berkeley.edu/competitions.htm#webappcomp', target='_blank') STC Web App Competition 
      and bring CalChat closer to what we envisioned. What you see now is still a work in progress, but we hope you like it. 
    p
      | We'd love to hear from you, so please send us feedback at 
      a(href='mailto:feedback@calchat.net') feedback@calchat.net
  br
  #team.row-fluid
    h1 Team
    hr
    div.row-fluid
      div.span6
        div.row-fluid
          div.span6.about-pic
            img(src='/img/team/jesse.jpg', width='200px', height='200px').avatar
          div.span6
            h2 Jesse Chen
            #badges.row-fluid
              a(href='http://jessechen.net', target=' blank') 
                img(src='img/team/personal.png').badge
              a(href='http://facebook.com/jesselchen', target='_blank')
                img(src='img/team/facebook.png').badge
              a(href='http://twitter.com/meltedxice/', target='_blank')
                img(src='img/team/twitter.png').badge   
              a(href='http://github.com/meltedxice/', target='_blank')
                img(src='img/team/github.png').badge  
            p Jesse is a senior at UC Berkeley studying Electrical Engineering and Computer Science. He is really passionate about mobile technology and entrepreneurship, and will be joining Facebook after graduation.
      div.span6
        div.row-fluid
          div.span6.about-pic
            img(src='/img/team/jon.jpg', width='200px', height='200px').avatar
          div.span6
            h2 Jonathan Tien
            #badges.row-fluid
              a(href='http://j.mp/ricefield', target='_blank') 
                img(src='img/team/personal.png').badge
              a(href='http://facebook.com/jonathan.tien', target='_blank')
                img(src='img/team/facebook.png').badge 
              a(href='http://twitter.com/ricefield/', target='_blank')
                img(src='img/team/twitter.png').badge  
              a(href='http://github.com/ricefield/', target='_blank')
                img(src='img/team/github.png').badge  
            p Jonathan is a senior at Berkeley studying Computer Science and currently working part-time at Glassdoor.com as a Product Manager Intern. He enjoys following the startup scene and playing tennis. Following graduation he is planning to attend the FTTA.
    br
    div.row-fluid
      div.span6
        div.row-fluid
          div.span6.about-pic
            img(src='/img/team/nelson.jpg', width='200px', height='200px').avatar
          div.span6
            h2 Nelson Hoang
            #badges.row-fluid
              a(href='http://facebook.com/gasol', target='_blank')
                img(src='img/team/facebook.png').badge 
              a(href='http://github.com/rycemuffin', target='_blank')
                img(src='img/team/github.png').badge  
            p Nelson Hoang is a senior at UC Berkeley pursuing a Computer Science degree. He'll be working for Amazon Music in San Francisco starting this summer.
      div.span6
        div.row-fluid
          div.span6.about-pic
            img(src='/img/team/mark.jpg', width='200px', height='200px').avatar
          div.span6
            h2 Mark Wei
            #badges.row-fluid
              a(href='http://about.me/markwei', target='_blank') 
                img(src='img/team/personal.png').badge
              a(href='http://facebook.com/markwei', target='_blank')
                img(src='img/team/facebook.png').badge 
              a(href='http://twitter.com/pingpongboss/', target='_blank')
                img(src='img/team/twitter.png').badge  
              a(href='http://github.com/pingpongboss/', target='_blank')
                img(src='img/team/github.png').badge  
            p Mark is a senior at UC Berkeley in the EECS department. A former table tennis pro, Mark also enjoys hacking together Android apps and will be joining the Android team at Google following graduation.
