include includes/navbar

div.container-fluid
  div.row-fluid
    div.span12
      div.hero-unit
        h2 Archives
        ul.breadcrumb
          li
            a(href='#') #{title}
            span.divider
              | /
          li Archives
            span.divider
              | /
          li.active #{new Date(begin).toDateString()}
        div#chat
          div#messages
            div#lines
        ul.pager
          li.previous
            a(href='javascript:void(0)', id='goBack') &larr; Yesterday
          li.next
            a(href='javascript:void(0)', class='hidden', id='goForward') Tomorrow &rarr;