include includes/navbar

div.container-fluid
  div.row-fluid
    div.span12
      div.hero-unit
        ul.breadcrumb
          li
            a(href='#') #{title}
            span.divider
              | /
          li Archives
            span.divider
              | /
          li.active #{new Date(begin).toDateString()}
        div#chat
          div#messages
            div#lines
        ul.pager
          li.previous
            a(href='#' class='prev') &larr; Yesterday
          li.next
            a(href='#' class='next') Tomorrow &rarr;