include includes/navbar

div.container-fluid
  div.row-fluid
    div.span3
      // sidebar content
      div.well.sidebar-nav
        ul.nav.nav-list.sidebar.unstyled#chats
          li.nav-header 
            | Chatrooms
            img(src='/img/loading.gif').loading

      div.well.sidebar-nav
        ul.nav.nav-list.sidebar.unstyled#online
          li.nav-header 
            | Online
            img(src='/img/loading.gif').loading

    div.span9
      div.hero-unit#body-content
        div.chat-header
          img(src='/img/loading.gif', style='float:right').loading
          div.chat-title
            h2 chatroom
          div.actions
            a(href='#', rel='tooltip', title='view archives')#archives
              i.icon-inbox.action
            a(href='javascript:void(0)', rel='tooltip', title='share chatroom')#share
              i.icon-share.action
            if loggedIn
              a(href='javascript:void(0)', rel='tooltip', title='close chatroom')#close
                i.icon-remove.action
        div#chat
          div#messages
            div#lines
        hr
        if loggedIn
          form.form-inline#send-message
            div.input-append
              input(type='text', size='16', disabled='true', autocomplete='off', name='input-message', data-provide='typeahead').span7#message< 
              button(type='submit').btn Send
        else 
          div.fake-input
            input(type='text', size='16', disabled='true', title='login with facebook to participate!').span6
            a(href='/auth/facebook', rel='tooltip', title='login with facebook to participate!')#login
