include includes/navbar

div.alert.alert-error
  a(data-dismiss="alert").close &times;
  <a class="promo" target="_blank" href='http://www.surveygizmo.com/s3/883523/STC-Web-App-Competition-2012-Peoples-Choice-Awards'><b>Like what you see?</b> Vote for CalChat in the final round of the STC Web App Competition — The People's Choice Award! <i class="icon-share-alt"></i></a>
div.container-fluid
  div.row-fluid
    div.span3
      // sidebar content
      div.well.sidebar-nav
        ul.nav.nav-list.sidebar.unstyled.rooms#chats
          li.nav-header 
            i.icon-comment
            span.header-text
              | Chatrooms
            img(src='/img/loading.gif').loading
        ul.nav.nav-list.sidebar.unstyled.rooms#private
          li.nav-header 
            i.icon-lock
            span.header-text
              | Private Rooms
            img(src='/img/loading.gif').loading
      div.well.sidebar-nav
        ul.nav.nav-list.sidebar.unstyled#online
          li.nav-header 
            i.icon-off
            span.header-text
              | Online
            img(src='/img/loading.gif').loading
    div.span9
      div.hero-unit#body-content
        div.chat-header
          img(src='/img/loading.gif', style='float:right').loading
          div.chat-title
            i
            h2.title-text Loading...
            h3.title-text
          div.actions.hidden
            a(href='#', rel='tooltip', title='view archives')#archives
              i.icon-inbox.action
            a(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcalchat.net%3A3000', target='_blank', rel='tooltip', title='share chatroom')#share
              i.icon-share.action
            if loggedIn
              a(href='javascript:void(0)', rel='tooltip', title='close chatroom')#close
                i.icon-remove.action
        div#chat
          div#messages
            div#lines
        hr
        if loggedIn
          form.form-inline#send-message
            div.input-append
              input(type='text', size='16', disabled='true', autocomplete='off', name='input-message', data-provide='typeahead').span7#message<
              button(type='submit').btn.btn-primary Send
              span#over-limit
        else 
          div.fake-input
            input(type='text', size='16', disabled='true', title='login with facebook to participate!').span6
            a(href='/auth/facebook', rel='tooltip', title='login with facebook to participate!')#login

div.corner-alerts

audio(id='ping', src='/audio/simple_l.mp3', style='display:none')