- var name = user.firstname + ' ' + user.lastname.charAt(0)

script
  var uid = #{user.id};
  var name = '#{name}';
  var rooms = !{JSON.stringify(rooms)}
script(src='/socket.io/socket.io.js')
script(src='js/libs/linkify.min.js')
script(src='js/chat.js')

include includes/navbar

div.container-fluid
  div.row-fluid
    div.span3
      // sidebar content
      div.well.sidebar-nav
        ul.nav.nav-list.sidebar.unstyled#chats
          li.nav-header Chatrooms

      div.well.sidebar-nav
        ul.nav.nav-list.sidebar.unstyled#online
          li.nav-header Online

    div.span9
      div.hero-unit#body-content
        div.chat-header
          div.chat-title
            h2 chatroom
          div.actions
            a(href='#', rel='tooltip', title='view archives')#archives
              i.icon-inbox.action
            a(href='#', rel='tooltip', title='share chatroom')#share
              i.icon-share.action
            a(href='#', rel='tooltip', title='close chatroom')#close
              i.icon-remove.action
        div#chat
          div#messages
            div#lines
        hr
        form.form-inline#send-message
          div.input-append
            input(type='text', size='16').span7#message< 
            button(type='submit').btn Send
          div.dropdown-menu#user-suggestions
            ul#suggestion-list
