- var name = everyauth.facebook.user.first_name + ' ' + everyauth.facebook.user.last_name.charAt(0);

div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/').brand #{title}
      div.nav-collapse
        ul.nav  
          li
            a(href='/') Home
          li.active
            a(href='#') Dashboard
          li
            a(href='/chat') Chat
        ul.nav.pull-right
          li
            img(src='http://graph.facebook.com/'+everyauth.facebook.user.id+'/picture?', height='37', width='37')
          li
            a(href='/logout') Logout

div.container
  div.hero-unit
    h1 Dashboard
      p Usually this is where you'll see a list of your favorites, recents, and maybe suggested or whatever dude.  Lorem ipsum ip man never let you down.
  div.row
    div.span4
      h2 Sup mah man
    div.span4
      h2 Heading
    div.span4
      h2 Bored and sleepy