include includes/navbar
div.alert.alert-error
  a(data-dismiss="alert").close &times;
  <a class="promo" target="_blank" href='http://www.surveygizmo.com/s3/883523/STC-Web-App-Competition-2012-Peoples-Choice-Awards'><b>Like what you see?</b> Vote for CalChat in the final round of the STC Web App Competition — The People's Choice Award! <i class="icon-share-alt"></i></a>

div.container-fluid
  div.alert.alert-error.hidden
  div.row-fluid
    div.span12
      div.span1
        div.picture
          img(src='http://graph.facebook.com/'+user.id+'/picture?type=square').avatar
      div.span11
        h2 Welcome, #{user.firstname + ' ' + user.lastname.charAt(0)}
        p This is your CalChat dashboard where you can manage your account and chatrooms.  You can add and delete chatrooms from here as well as access your preferences.
        p
          a(href='/preferences') Preferences
          span.separator
            ·
          a(href='/logout') Logout
  div.row-fluid
    div.span12
      div.well
        h1 Join Chatrooms
        div.nearby
          dl.dl-horizontal 
            dt Nearby Rooms
            dd.suggestions
              | Allow CalChat to get your current location to find chatrooms near you.	 
            dt Search for rooms:
            dd
              form.form-search.form-inline.join-chatrooms
                input(type='text', placeholder='Join Chatroom', data-provide='typeahead').input-medium.search-query
  div.row-fluid
        div.span4
          h2 Chatrooms
          hr
          ul.nav.nav-list.unstyled#chatrooms
        div.span4
          h2 Private Chats
          hr
          ul.nav.nav-list.unstyled#privatechats
        div.span4
          h2 Miscellaneous
          hr
          ul.unstyled
            li
              a(href='/') Help
            li
              a(href='/about') About
            li
              a(href='/feedback') Feedback
            li
              a(href='mailto:contact@calchat.net', target=' blank') Contact Us
#firstlogin.modal.hide.fade.in(style='display: none;')
  .modal-header
    a.close(data-dismiss='modal') ×
    h2 Welcome to CalChat
  .modal-body
    .modal-classes
      p
        | Get started by adding some chatrooms.  You can search by:
      ul
        li
          i.icon-book
          | Classes (e.g. Math 54, POL SCI 1, CS 164)
        li 
          i.icon-home
          | Buildings (e.g. Soda, Dwinelle, Slottman)
        li
          i.icon-time
          | Rooms (e.g. 100 Wurster, 1 Pimentel, 306 Soda)
      p
        form.form-search.form-inline.join-chatrooms.modal-join-chatrooms
          fieldset.control-group
            input(type='text', placeholder='Join Chatroom', data-provide='typeahead',autofocus='autofocus').input-medium.search-query.modal-input
      .modal-classes-added
        h3 Classes Added
    hr
    h3 Add Your Phone Number
    p
      | Enter your phone number to be notified via SMS when someone @mentions you
    p
      form.form-inline.phoneSubmit
        fieldset.control-group
          input(type='text', placeholder='e.g. 5553234764').input-medium.phone-number
          span.help-inline optional
  .modal-footer
    button#initialsubmit(type='submit', disabled='disabled').btn.btn-primary.disabled Submit