include includes/navbar
div.alert.alert-success
  a(data-dismiss="alert").close &times;
  <a class="promo" target="_blank" href='http://www.surveygizmo.com/s3/883523/STC-Web-App-Competition-2012-Peoples-Choice-Awards'><b>Like what you see?</b> Vote for CalChat in the final round of the STC Web App Competition — The People's Choice Award! <i class="icon-share-alt"></i></a>

div.container-fluid
  div.alert.alert-error.hidden
  div.row-fluid
    div.span12
      div.span1
        div.picture
          img(src='http://graph.facebook.com/'+user.id+'/picture?type=square').avatar
      div.span11
        h2 Welcome, #{user.firstname + ' ' + user.lastname.charAt(0)}
        p This is your CalChat dashboard where you can manage your account and chatrooms.  You can add and delete chatrooms from here as well as access your preferences.
        p
          a(href='/preferences') Preferences
          span.separator
            ·
          a(href='/logout') Logout
  div.row-fluid
    div.span12
      div.well
        h1 Join Chatrooms
        div.nearby
          dl.dl-horizontal 
            dt Nearby Rooms
            dd.suggestions
              | Allow CalChat to get your current location to find chatrooms near you.	 
            dt Search for rooms:
            dd
              form.form-search.form-inline.join-chatrooms
                input(type='text', placeholder='Join Chatroom', data-provide='typeahead').input-medium.search-query
  div.row-fluid
        div.span4
          h2 Chatrooms
          hr
          ul.nav.nav-list.unstyled#chatrooms
        div.span4
          h2 Private Chats
          hr
          ul.nav.nav-list.unstyled#privatechats
        div.span4
          h2 Miscellaneous
          hr
          ul.unstyled
            li
              a(href='/') Help
            li
              a(href='/about') About
            li
              a(href='/feedback') Feedback
            li
              a(href='mailto:contact@calchat.net', target=' blank') Contact Us
#firstlogin.modal.hide.fade.in(style='display: none;')
  .modal-header
    a.close(data-dismiss='modal') ×
    h3 Welcome to CalChat
    h3 Since this is your first time, please add some classes to begin
  .modal-body
    h3 Search for classes:
      dd
        form.form-search.form-inline.join-chatrooms.modal-join-chatrooms
          input(type='text', placeholder='Join Chatroom', data-provide='typeahead',autofocus='autofocus').input-medium.search-query.modal-input
          //$("#firstinput").focus();
    .modal-classes
      h3 Classes Added:
  .modal-footer
    button#initialsubmit(type='submit').btn.btn-primary Submit
    a.btn(href='#', data-dismiss='modal') Close
