- var name = everyauth.facebook.user.first_name + ' ' + everyauth.facebook.user.last_name.charAt(0)

include includes/navbar

div.container
  div.hero-unit
    h1 Dashboard
      p Usually this is where you'll see a list of your favorites, recents, and maybe suggested or whatever dude.  Lorem ipsum ip man never let you down.
  div.row
    div.span4
      h2 Sup mah man
    div.span4
      h2 Heading
    div.span4
      h2 Bored and sleepy