include includes/navbar

div.container-fluid
  div.alert.alert-error.hidden
  div.row-fluid
    div.span12
      div.span1
        div.picture
          img(src='http://graph.facebook.com/'+user.id+'/picture?type=square').avatar
      div.span11
        h2 Welcome, #{user.firstname + ' ' + user.lastname.charAt(0)}
        p This is your CalChat dashboard where you can manage your account and chatrooms.  You can add and delete chatrooms from here as well as access your preferences.
        p
          a(href='/preferences') Preferences
          span.separator
            ·
          a(href='/logout') Logout

  div.row-fluid
    div.span12
      div.well
        h1 Join Chatroom
        div.nearby
          dl.dl-horizontal 
            dt Nearby Rooms
            dd.suggestions
              | Allow CalChat to get your current location to find chatrooms near you.	 
            dt Search for rooms:
            dd
              form.form-search.form-inline
                input(type='text', placeholder='Join Chatroom', data-provide='typeahead').input-medium.search-query
                button(type='submit').btn.btn-primary Join
       
  div.row-fluid
        div.span4
          h2 Chatrooms
          hr
          ul.nav.nav-list.unstyled#chatrooms
        div.span4
          h2 Private Chats
          hr
          ul.nav.nav-list.unstyled#privatechats
        div.span4
          h2 Miscellaneous
          hr
          ul.unstyled
            li
              a(href='/') Help
            li
              a(href='/about') About
            li
              a(href='/feedback') Feedback
            li
              a(href='mailto:contact@calchat.net', target=' blank') Contact Us