include includes/navbar

div.container-fluid
  h2 Feedback
  hr
  p 
    | We love to get feedback from our users. Feel free to shoot us an email at 
    a(href='mailto:feedback@calchat.net') feedback@calchat.net
    | . We welcome any bug reports, complaints, questions, feature requests/suggestions, or fan mail ;)
  p You can also use the form embedded below:
  br
  iframe(src='https://docs.google.com/spreadsheet/embeddedform?formkey=dG04c0pPNENZeUVGTjhrZHJhdEhuU2c6MQ', width='760', height='721', frameborder='0', marginheight='0', marginwidth='0') Loading...