include includes/navbar

div.container-fluid
  div.hero-unit
    div.row-fluid
      div.span6
        img(src='/img/logo-lg.png', width='445px', height='161px')
        if loggedIn
          h2 Welcome back, #{everyauth.facebook.user.name}
          p hope you're enjoying CalChat! 
        else 
          h2 Welcome to CalChat!
          p ever have trouble connecting with people in your classes or on campus? CalChat lets you talk to people in the same lecture hall, class, or building in chatrooms all over campus (and more!). built by cal students for cal students.
        if !loggedIn
          p
            a(href='/auth/facebook', rel="tooltip", title="we will never post to your fb without your permission. we only use fb connect to discourage spamming and trolling.")#login



      div.span6
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              img(src='/img/carousel/1.jpg', alt='')
              .carousel-caption
                h4 Meet, talk, learn
                h6  
                  | Chat and collaborate with students and instructors with public group chats - meet classmates, ask questions, set up study groups... all that jazz.
            .item
              img(src='/img/carousel/2.jpg', alt='')
              .carousel-caption
                h4 Location-based chat rooms
                h6
                  | CalChat has chat rooms for every class, building, and dorm. No need to find or create groups, just jump in and join the conversation. 
            .item
              img(src='/img/carousel/3.jpg', alt='')
              .carousel-caption
                h4 Facebook integration
                h6
                  | Easily connect with you classmates - no more trying to remember how that guy spells his last name or wondering if youre friending the wrong person. 
          a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
          a.carousel-control.right(href='#myCarousel', data-slide='next') ›

          
  div.row-fluid
    div.span4
      h2 @mentions
      p Getting someone's attention in a room is as simple as typing '@[name]'. CalChat will alert that user that they've been 'mentioned' in a chat, and format their username in the chat.
      a(href='/features#mentions').btn Read more &raquo;
    div.span4
      h2 Nearby rooms
      p CalChat will ask you for permission to track your location (don't worry, we're not trying to stalk you!). We can suggest you rooms nearby to join so you can talk to people close by.
      a(href='/features#nearby').btn Read more &raquo;
    div.span4
      h2 Private chat
      p We're not just about public chat rooms. CalChat lets you private message any other user if you prefer to talk one-on-one.
      a(href='/features#privchat').btn Read more &raquo;
  hr
  div.footer 
    p &copy; calchat 2012
