include includes/navbar

div.container-fluid
  div.hero-unit
    if loggedIn
      h1 Welcome back, #{everyauth.facebook.user.name}
    else 
      h1 Hello, world!
    p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    if !loggedIn
      p
        a(href='/auth/facebook')#login
          
  div.row-fluid
    div.span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p(href='#').btn View details &raquo;
    div.span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p(href='#').btn View details &raquo;
    div.span4
      h2 Heading
      p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      p(href='#').btn View details &raquo;
  hr
  div.footer 
    p &copy; calchat 2012
