div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='#').brand #{title}
      div.nav-collapse
        ul.nav
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
          li
            a(href='/chat') Chat
        ul.nav.pull-right
          if loggedIn
            li
              img(src='http://graph.facebook.com/'+everyauth.facebook.user.id+'/picture?', height='37', width='37')

div.container
  div.hero-unit
    if loggedIn
      h1 Hello, #{everyauth.facebook.user.name}
    else 
      h1 Hello, world!
    p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    p 
      if !loggedIn
        a(href='/auth/facebook').btn.btn-primary.btn-large Login with Facebook
      else 
        a(href='/logout').btn.btn-primary.btn-large Logout
          
  div.row
    div.span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p(href='#').btn View details &raquo;
    div.span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p(href='#').btn View details &raquo;
    div.span4
      h2 Heading
      p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      p(href='#').btn View details &raquo;
  hr
  div.footer 
    p &copy; calchat 2012
