!!! 5
html(lang='en')
  head
    include includes/head
    link(rel='stylesheet', href='/css/dashboard.css')

  body!= body

  include includes/footer
  script
    if (Modernizr.history) {
      history.pushState("", document.title, window.location.pathname + window.location.search);
    } else {
      window.location.hash = '';
    }
    var rooms = !{JSON.stringify(rooms)};
    var uid = #{user.id};
  script(src='/js/geo.js')
  script(src='/js/dashboard.js')
  script(src='/js/libs/bootstrap/alert.js')
