!!! 5
html(lang='en')
  head
    include includes/head
    link(rel='stylesheet', href='/css/index.css')

  body!= body

  include includes/footer
  script(src='/js/index.js')
  script(src='/js/libs/bootstrap/alert.js')
  script(src='/js/yqlgeo.js')
  script(src='/js/geo.js')
