!!! 5
html(lang='en')
  head
    include head.jade
    link(rel='stylesheet', href='css/dashboard.css')

  body!= body

  script(src='/js/libs/bootstrap/transition.js')
  script(src='/js/libs/bootstrap/collapse.js')
