!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='css/dashboard.css')
    include includes/head

  body!= body

  script(src='/js/libs/bootstrap/transition.js')
  script(src='/js/libs/bootstrap/collapse.js')
