!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='/css/calchat.css')
    link(rel='stylesheet', href='/css/index.css')
    include includes/head

  body!= body

  script(src='/socket.io/socket.io.js')
  script(src='/js/yqlgeo.js')
  script(src='/js/geo.js')

  include includes/footer
