!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='css/dashboard.css')
    include includes/head

  body!= body

  script
    if (window.location.hash == '#_=_')
      window.location.hash = '';
  include includes/footer
