!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='/css/calchat.css')
    link(rel='stylesheet', href='/css/archives.css')
    include includes/head

  body!= body

  include includes/footer  
