p {
	font-size: 14px;
}

.avatar {
	        border-radius:7px;
	   -moz-border-radius:7px;
	-webkit-border-radius:7px;
}

.container-fluid {
	width: 75%;
	margin: 0px auto;
}

.badge {
	padding-left: 1px;
	background-color: white;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	     opacity:0.8;
}

.badge:hover {
	filter: alpha(opacity=100);
	-moz-opacity:1;
	     opacity:1;
}
