/* CSS Document */
body {
   padding-top:60px;
   padding-bottom:40px;
}

.hidden {
	display:none;
}

.avatar {
	        border-radius:5px;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-right:10px;
}

.loading {
	margin-left:5px;
	vertical-align:initial;
}