/* CSS Document */
body {
	padding-top:60px;
	padding-bottom:40px;
}

h1, h2, h3 {
        text-shadow: 0 1px 0 white;
}

.sidebar-nav {
	padding: 9px 0;
}

.hidden {
	display:none;
}

.avatar {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-right:10px;
}

.loading {
	margin-left:5px;
	vertical-align:initial;
}

.course-pretty {
	font-weight: bold;
}