/* CSS Document */
body {
	padding-top:60px;
	padding-bottom:40px;
}

h1, h2, h3 {
        text-shadow: 0 1px 0 white;
}

.navbar-search {
	position:relative;
}

.navbar-search .search-query {
	padding-left:29px;
}

.navbar-search .icon-search {
	position:absolute;
	top:7px;
	left:11px;
	background-image:url('../img/glyphicons-halflings-white.png');
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
	padding-left:30px;
}

.search-query:focus + .icon-search {
	background-image:url('../img/glyphicons-halflings.png');
}

.alert {
	width:75%;
	margin-left:auto;
	margin-right:auto;
	z-index:3;
}

.corner-alert {
	width:auto;
	position:fixed;
	left:15px;
	bottom:15px;
}

.sidebar-nav {
	padding: 9px 0;
}

.hidden {
	display:none;
}

.avatar {
	        border-radius:5px;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-right:10px;
}

.loading {
	margin-left:5px;
	vertical-align:initial;
}

.room-pretty {
	font-weight: bold;
}

.typeahead-container {
	height: 37px;
	position: relative;
}

.typeahead-firstline {
}

.typeahead-secondline {
}

.typeahead-main {
	display: inline-block;
	margin-left: 24px;
}

.typeahead-icon {
	position: absolute;
	top:50%;
	margin-top:-7px;
}

.chats-icon {
	margin-left:20px;
}

.chats-name {
	margin-left:5px;
}