/* CSS Document */
ul#online {
	font-size:1.3em;
}

.badge {
	float: right;
}

#chat {
	width:100%;
	height:350px;
	overflow-y:auto;
	border:2px solid #08C;
	        border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.chat-header {
	margin-bottom:45px;
}

.actions {
	float:right;
}

.chat-title {
	float:left;
}

.actions .action {
	margin:12px;	
}

#lines p:nth-child(even) {
  background: #fafafa;
}

#lines p {
	margin:0px;
	padding:0px 10px;
    font-size:1.2em;
}

a.mention {
	color:dimgrey;
	font-weight:bold;
}

a.mention:hover {
	text-decoration:none;
	color:darkgrey;
	font-weight:bold;
}

a.from {
	color:black;
	font-weight:bold;
}

a.from:hover {
	text-decoration:none;
	color:dimgrey;
	font-weight:bold;
}

div.suggestions {
    background-color:aliceblue;
    position:static;
}

ul.suggestions-list {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

.suggestion-selected {
    background-color:lightskyblue;
}