/* CSS Document */
ul#online {
	font-size:1.3em;
}

.badge {
	float: right;
}

#chat {
	width:100%;
	height:350px;
	overflow-y:auto;
	border:2px solid #08C;
	        border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.chat-header {
	margin-bottom:45px;
}

.actions {
	float:right;
}

.chat-title {
	float:left;
}

.actions .action {
	margin:12px;	
}

#lines p:nth-child(even) {
  background: #fafafa;
}

#lines p {
	margin:0px;
	padding:0px 10px;
    font-size:1.2em;
}

#login {
	display: inline-block;
	height:27px;
	width:105px;
	background:url('../img/fb-connect-small.png');
	vertical-align:top;
    margin-left:10px;
}

.system-message {
	font-style:italic;
}

p.message a.from {
	color:black;
	font-weight:bold;
}

p.message a.from:hover {
	text-decoration:none;
	color:dimgrey;
	font-weight:bold;
}

p.message > span.mentions {
	float: right;
}

div.message-mentions > a.mention {
	color: dimgrey;
	font-weight: bold;
	font-size: 75%;
}

div.message-mentions > a.mention:hover {
	text-decoration: none;
	color: darkgrey;
	font-weight: bold;
	font-size: 75%;
}