/* CSS Document */
.picture {
	width:160px;
	height:220px;
	float:left;
}

li .badge-error {
	margin-left:5px;
}

.separator {
	margin-left:5px;
}

dt, dd {
	margin-bottom:30px;
}

dt {
	font-size:1.3em;
}

dd .btn {
	margin-right:15px;
}

dd .btn-primary {
	margin-left:5px;
}