/* CSS Document */
h1.splash{
	width:445px;
	height:161px;
	background: url('/img/logo-lg.png');
	font-size:1px;
	color:white;
}

.fblogin {
	height:50px;
	position:relative;
}

.features {
	clear: both;
	color: dimgrey;
}

#why {
	top:25%;
	margin-left:10px;
	position:absolute;
}

@media only screen and (max-width:400px) {
	#login {
		float: left !important;
		display: block !important;
		width: 129px !important;
		height: 39px !important;
		background: url('../img/fb-connect-med.png') !important;
	}
	#fbroot {
		display:none;
	}
}

@media only screen and (max-width:600px) {
	#login {
		float: left;
		display: block;
		width: 233px;
		height: 40px;
		background: url('../img/fb-connect-lg.png');
	}
	h1.splash {
		width:160px;
		height:160px;
		background: url('/img/logo-sm.png');
		font-size:1px;
		color:white;
	}
	.carousel {
		display:none !important;
	}	
}

@media screen and (min-width:600px) {
	#login {
		float: left;
		display: block;
		width: 280px;
		height: 47px;
		background: url('../img/fb-connect.png') bottom;
	}
	#login:hover {
		background-position: 0 0;
	}
}

@media only screen and (max-width:1070px) {
	.span6 {
		width:auto !important;
	}
	.fblogin {
		float:none;
		height:50px;
	}
	.fb-like {
		margin-bottom:20px;
	}
}

.hero-unit {
	background-image: url('/img/grid_noise.png');
	padding-top: 30px;
	padding-bottom: 30px;
}

/* stupid hero-unit p overriding this css property */
.carousel-caption p {
	color:white;
	font-size:13px;
	line-height:18px;
}

.fb-like {
	margin-top: 20px;
}
