/* CSS Document */
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#login {
	display: block;
	width: 280px;
	height: 47px;
	background: url('../img/fb-connect.png') bottom;
}

#login:hover {
	background-position: 0 0;
}

.avatar {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 10px;
}