/* CSS Document */

#login {
	display: block;
	width: 280px;
	height: 47px;
	background: url('../img/fb-connect.png') bottom;
}

#login:hover {
	background-position: 0 0;
}

h6 {
	color:grey;
	text-transform:capitalize;
}

.hero-unit {
	background-image: url('/img/grid_noise.png');
}